.home-mainContainer{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 0;
}
.home-headPart{
    grid-column: 1 / -1;
    height: 580px;
}
.home-sliderContainer{
    grid-column: 1 / -1;
    height: 530px;
}
.home-sliderText-container{
    z-index: 3;
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 530px;
    width: 100%;
    position: absolute;
}

/*-------------------------- home-popular ------------------------*/

.home-popular{
    grid-column: 1/-1;
    background-color: #151515;
    color:#fff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px repeat(2, max-content) 80px;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-row-gap: 70px;
}
.home-popular-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.home-popular-container h3{
    margin-bottom: 30px;
}
.home-popular-movies{
    grid-column: 2/5;
    grid-row: 2/3;
}
.home-popular-movie-container{
    display: grid;
    grid-template-rows: max-content;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 260px);
    grid-column-gap: .8em;
    grid-row-gap: 19px;
}
.home-popular-series{
    grid-column: 2/5;
    grid-row: 3/4;
}
.popular-item-img{
    width: 100%;
    border-radius:10px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
.popular-item-container{
    position:relative;
    transition:all 0.5s;
}
.popular-item-container:hover{
    transform: scale(1.08)
}
.popular-item-container:hover .popular-item-detail{
    opacity: 1;
}
.popular-item-detail{
    position: absolute;
    background-color:rgba(0, 0 , 0,.4);
    width: 100%;
    opacity: 0;
    transition: all .5s;
    top: 0;
    height: 100%;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-popular-loader{
    display: flex;
    justify-content: center; 
    align-items: center;  
}

/*---------------------- feature section-----------------------*/
.home-feature-section {
    grid-column: 1/-1;
    background-color: #1a1919;
    color: #fff;
    padding: 60px 100px;
    display: flex;
    flex-direction:column; 
    align-items: center;
    text-align: center;
    justify-content: center;
}
.home-feature-section-itemsContainer{
    width: 100%;
    display:grid;
    grid-template-columns:repeat(4, 1fr); 
    grid-template-rows: max-content;
    justify-items: center;
    grid-column-gap: .8em;
    margin-top: 30px;
    align-items: start;
    grid-row-gap: 25px;
}
.home-feature-section-itemsContainer h5{
    font-size: 1.5em;
}
.home-feature-section-itemsContainer img{
    width: 50%;
    margin-bottom: 20px;
}
.red{
    color: #e50914;
}
.yellow{
    color :#f9ad03
}

/* --------------------------------common questions ----------------------------*/
.common-questions-section{
    grid-column: 1/-1;
    background-color: #000;
    color: #fff;
    padding: 4em 0;
}
.common-questions-container{
    display: flex;
    width:50%;
    margin: auto;
    flex-direction:column;
    justify-content:center;
}
.common-questions-container ul{
    padding: 0;
}
.common-questions-container h2{
    text-align: center;
    margin-bottom: 1.5em;
}
.common-question{
    margin-bottom: 1em;
    font-size: 1.3em;
}
.question{
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: .5em 1em;
    justify-content:space-between;
    background-color:#303030;
}
.common-questions-answer{
    transition: all .3s;
    padding: .9em .9em;
    background-color:#303030;
    margin-top: 5px;
    overflow: hidden;
}
.close{
    height:0;
    padding:0;
    margin-top: 0;
    visibility:hidden;
}
.exit-style{
    transform:rotate(45deg);
    color: rgb(255, 0, 0);
}

@media screen and (max-width:1000px){
    .home-feature-section{
        padding-right: 10px;
        padding-left: 10px;
        font-size: 13px;
    }
}
@media screen and (max-width: 960px){
    .common-questions-container{
        width: 70%;
    }
    .home-popular-container{
        grid-column: 1/ -1;
    }
}
@media screen and (max-width: 870px){
    .home-popular{
        padding : 0 2.5em
    }
    .home-popular-movies{
        grid-column: 1/ -1 ;
    }
    .home-popular-series{
        grid-column: 1/ -1 ;
    }
}
@media screen and (max-width:770px){
    .home-feature-section-itemsContainer{
        grid-template-columns: repeat(2, 1fr);
    }
    .home-sliderContainer{
        background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/5fd505fa-f425-4a18-b3cc-00dd2638f541/1cf0ecb1-be06-4c3e-9dea-cb58a46d9642/GB-en-20220704-popsignuptwoweeks-perspective_alpha_website_small.jpg');
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        position: relative;
    }
    .home-sliderContainer::after{
        content:"";
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .6);
        background-image: radial-gradient(circle, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.2) 100%) ;
    }
    .common-questions-container{
        width: 80%;
        font-size: 14px;
    }
    .slider{
        display: none;
    }
}
@media screen and (max-width: 565px){
    .common-questions-container{
        width: 86%;
        font-size: 12px;
    }
}
@media screen and (max-width: 450px){
    .common-questions-container{
        width: 90%;
        font-size: 11px;
    }
    .home-popular-movie-container{
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    .home-popular{
        padding: 0 1.1em;
    }
}