.signin-container{
    display:grid;
    grid-template-rows: max-content;
    grid-template-columns:repeat(2, 1fr) 250px 250px repeat(2,1fr);
    justify-content: center;
    height: 800px;
    align-content: center;
    background-image: url(../pictures/signin-background.jfif);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
}
.signin-container::after{
    content:"";
    background-color: rgba(0, 0, 0, .48);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.signin-box{
    grid-column: 3 / 5;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4em;
    border-radius: 10px;
    z-index: 2;
}
.signin-logo{
    font-size: 1.8em;
    color: #e50914;
    align-self: end
}
.signin-logo span{
    color: #f9ad03;
}
#signin-from{
    display: grid;
    grid-template-rows: repeat(3,max-content);
    grid-row-gap: 40px;
    transition: all .5s;
}
.signin-status-text{
    transition: all .5s;
    cursor: pointer;
    color: rgb(238, 237, 237);
}
.signin-status-text:hover{
    color: #e50914 !important;
}
.signin-submit-btn{
    background-color:#e50914 !important;
    color: #fff !important;
    padding:.7em !important; 
}

.signin-submit-btn:focus{
    outline: 0px;
    box-shadow: none ;
}
.signin-title{
    color:#fff;
    font-weight: 800;
}
small{
    font-weight: 500;
}

.signin-headContainer{
    display: flex;
    justify-content: space-between;
    padding:0 1.2em
}
.form-input:focus{
    /* border: 0 !important; */
    border:1px solid #e50914 !important;
    outline:2px solid #e50914 !important; 
}
@media screen and (max-width:690px){
    .signin-container{
        grid-template-columns: repeat(6,1fr);
    }
    .signin-box{
        grid-column: 1 / -1;
        background-color: rgba(0, 0, 0, 1);
        height: 800px;
        border-radius: 0;
    }
}